#calendar-header {
    display: flex; flex-direction: row; justify-content: space-around;
    padding-bottom: 1rem;
}
#calendar-body {
    display: grid; grid-template-columns: repeat(7, 1fr); 
    
}

div.calendar-days {
    display: flex; justify-content: center; align-items: center;
    padding: 0.25rem; border-radius: 1rem;
}

div.calendar-days.before-today { filter:brightness(90%); }
div.calendar-days.sunday { color: var(--accent-4); }
div.calendar-days.not-current-month { color: var(--body-color); filter:brightness(60%); }
div.calendar-days.today { background:var(--accent-3); }