:root{

    --body-bg-1: #fff;
    --body-bg-2: #eee;
    --body-color: #000;

    --footer-bg: #deceff;
    --footer-color: #000;
    --footer-margin: #aaa;

    --icons-1: #555;
    --icons-bg: #555;
    --accent-1: #1436e0;
    --accent-2: #488bc2;
    --accent-3: #e733ea;
    --accent-4: #15d1d7;

    --button-bg: #ffffff;
    --button-color: #000000;
    --button-hover-bg: #ccc;
    --button-hover-color: #000000;
}

body.theme-dark{

    --body-bg-1: #000;
    --body-bg-2: #0a0a0a;
    --body-color: #ffffff;

    --footer-bg: #1f1f2b;
    --footer-color: #fff;
    --footer-margin: #333;

    --icons-1: #aaa;
    --icons-bg: #1a1a1a;
    --accent-1: #1e53d0;
    --accent-2: #488bc2;
    --accent-3: #a427a4;
    --accent-4: #10a5ab;

    --button-bg: #000;
    --button-color: #fff;
    --button-hover-bg: #222;
    --button-hover-color: #fff;
}



.main-bg{background: var(--main-bg-1);}
.main-color{color: var(--main-color)}

.footer-bg{background: var(--footer-bg);}
.footer-color{color: var(--footer-color)}

.button-bg{background: var(--button-bg);}
.button-color{color: var(--button-color);}
.button-bg:hover{background: var(--button-hover-bg); transform: scale(1.05); }
.button-color:hover{color: var(--button-hover-color);}


